{% extends 'base.html' %}
{% load static %}

{% block title %}Trainers | ALMI Fitness Center{% endblock %}

{% block content %}


<div class = "header" >ALMI FITNESS CENTER - TRAINERS</div>
<section class="trainer-section">

    <div class="trainer-card">
        <img src="https://images.unsplash.com/photo-1552058544-f2b08422138a" alt="John" />
        <h3>John</h3>
        <p>Strength & Conditioning Coach</p>
        <p>Timing: 6 AM – 10 AM</p>
        <p>Cost: ₹5000/month</p>
        <p>Contact: 9000011111</p>
        <button class="book-btn js-book-consult">Book Session</button>
    </div>

    <div class="trainer-card">
        <img src="https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e" alt="Emma" />
        <h3>Emma</h3>
        <p>Yoga & Flexibility Trainer</p>
        <p>Timing: 10 AM – 1 PM</p>
        <p>Cost: ₹4500/month</p>
        <p>Contact: 9000022222</p>
        <button class="book-btn js-book-consult">Book Session</button>
    </div>

    <div class="trainer-card">
        <img src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde" alt="Alex" />
        <h3>Alex</h3>
        <p>Weight Loss Specialist</p>
        <p>Timing: 2 PM – 5 PM</p>
        <p>Cost: ₹5500/month</p>
        <p>Contact: 9000033333</p>
        <button class="book-btn js-book-consult">Book Session</button>
    </div>

    <div class="trainer-card">
        <img src="https://images.unsplash.com/photo-1544723795-3fb6469f5b39" alt="Raghul" />
        <h3>Raghul</h3>
        <p>Cardio & HIIT Instructor</p>
        <p>Timing: 5 PM – 8 PM</p>
        <p>Cost: ₹4800/month</p>
        <p>Contact: 9000044444</p>
        <button class="book-btn js-book-consult">Book Session</button>
    </div>

    <div class="trainer-card">
        <img src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d" alt="David" />
        <h3>David</h3>
        <p>Zumba & Aerobics Trainer</p>
        <p>Timing: 8 AM – 11 AM</p>
        <p>Cost: ₹4200/month</p>
        <p>Contact: 9000055555</p>
        <button class="book-btn js-book-consult">Book Session</button>
    </div>

    <div class="trainer-card">
        <img src="https://tse2.mm.bing.net/th/id/OIP.FAoKcNkInL_Tl4DgUgAnEQHaFK?pid=Api&P=0&h=180" alt="David" />
        <h3>Leo</h3>
        <p>Yoga</p>
        <p>Timing: 8 AM – 11 AM</p>
        <p>Cost: ₹5200/month</p>
        <p>Contact: 9000054565</p>
        <button class="book-btn js-book-consult">Book Session</button>
    </div>

</section>


{% endblock %}
